// Colors

$neutral-100: #cfd8dc;
$neutral-200: #90a4ae;
$neutral-300: #607d8b;
$neutral-400: #455a64;
$neutral-500: #263238;

$teal-100: #b2dfdb;
$teal-200: #4db6ac;
$teal-300: #009688;
$teal-400: #00796b;
$teal-500: #004d40;

$blue-100: #b3e5fc;
$blue-200: #4fc3f7;
$blue-300: #03a9f4;
$blue-400: #0288d1;
$blue-500: #01579b;
