@import 'variables';

html {
  line-height: 1.5;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100vh;
  background-color: rgba(207, 216, 220, 0.5);
}

h1,
h2,
h3,
h4,
h5,
p {
  color: $neutral-500;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

span {
  &.underline {
    text-decoration: underline;
  }

  &.strike-through {
    text-decoration: line-through;
  }
}

.page-container {
  height: 100%;
  width: 100%;
  min-width: 320px;
}

section {
  position: relative;
  box-sizing: border-box;
  padding: 3rem 1rem;

  h3 {
    font-weight: 800;
    margin-bottom: 3rem;
    text-align: center;
  }

  h4 {
    font-weight: 800;
    margin-bottom: 1.5rem;
  }

  p {
    color: $neutral-500;
    font-weight: bold;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & .content > * {
    max-width: 568px;
    margin: 0 auto;
  }
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(38, 50, 56, 0.9);
  height: 100vh;
  padding: 1rem;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/header-background-mobile.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }

  header {
    position: relative;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 3rem;

    h1 {
      color: #fff;
      margin-bottom: 1.5rem;

      .text-name {
        color: $teal-300;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    h2 {
      color: white;

      .text-role {
        color: $blue-300;
        font-weight: bold;
      }
    }

    &:before,
    &:after {
      content: '';
      border: 1px solid #fff;
      display: block;
      border-radius: 2px;
      position: absolute;
      width: 100%;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .btn-wrapper {
    .btn {
      color: white;
      background-color: $teal-400;

      &:hover {
        color: $teal-500;
        background-color: $teal-100;
      }

      &:active,
      &:focus {
        color: #fff;
        background-color: $teal-500;
      }
    }
  }
}

#about-me {
  background-color: #dde9ea;

  h4 {
    color: $teal-400;
  }

  #profile-photo {
    position: relative;
    margin-bottom: 2rem;
    max-width: 568px;
    width: 100%;

    .image-container {
      padding-top: 66.66%;
      padding-bottom: 3rem;
    }

    img {
      border: 8px solid #fff;
      border-bottom-width: 3rem;
      border-radius: 8px;
      box-shadow: 0px 0px 6px rgba(19, 45, 57, 0.4);
    }

    .profile-photo-caption {
      position: absolute;
      font-family: 'Caveat', cursive;
      bottom: 8px;
      font-size: 22px;
      width: 100%;
      text-align: center;
    }
  }

  #about-me-section {
    max-width: 568px;
    margin-bottom: 1.5rem;

    .download-link {
      color: $blue-400;
      text-decoration: none;
      font-weight: 800;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #skill-section {
    ul {
      margin: 0;
      padding: 0 1rem;
    }
  }
}

#projects {
  background-color: #fff;

  .project-screenshot {
    .image-container {
      padding-top: 56.25%;
      margin-bottom: 1.5rem;

      img {
        border-radius: 8px;
      }
    }
  }

  .project-info {
    h4 {
      margin-bottom: 1rem;
    }

    .btn {
      background-color: #fff;
      border: 3px solid $blue-500;
      color: $blue-500;
      font-weight: 700;

      &:hover {
        background-color: $blue-500;
        color: #fff;
      }
    }
  }
}

#contact-me {
  background-color: #dde9ea;

  h4 {
    text-decoration: none;
    text-align: center;
    margin-bottom: 2rem;

    .look-at-me {
      color: $teal-300;
      text-decoration: none;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    div {
      width: 100%;
      margin: 0 auto 1rem;
      max-width: 568px;

      &:last-child {
        margin-bottom: 1.5rem;
      }
    }

    label {
      display: block;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    input,
    textarea {
      width: 100%;
      height: 44px;
      border: 2px solid $neutral-500;
      border-radius: 6px;
      padding: 0 1rem;
      box-sizing: border-box;

      &:focus {
        outline: none;
        box-shadow: 0px 0px 6px rgba(19, 45, 57, 0.6);
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      }
    }

    textarea {
      height: 192px;
      resize: none;
      padding: 1rem;
    }

    .submit-btn {
      margin: 0 !important;

      .btn {
        color: $teal-400;
        border-color: $teal-400;
        background-color: white;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          background-color: $teal-400;
          color: #fff;
        }
      }
    }
  }
}

footer {
  color: white;
  background-color: $neutral-500;
  padding: 0.5rem 0;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  justify-content: center;

  .btn {
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
  }
}

.image-container {
  position: relative;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: 414px) {
  section .content {
    padding: 0 1.5rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  #home header {
    max-width: 704px;
  }

  #skill-section {
    display: inline-block;

    #skills {
      padding: 1.5rem;
      border: 3px solid $teal-400;
      border-radius: 6px;
      box-sizing: border-box;
      background-color: #fff;
    }
  }

  .project-info .btn-wrapper {
    justify-content: flex-start;
  }
}

@media (min-width: 1440px) {
  section {
    padding: 5rem 0;

    h3 {
      margin-bottom: 5rem;
    }

    .content {
      display: flex;
      justify-content: space-between;
      max-width: 1216px;
      margin: 0 auto;
      padding: 0 !important;

      > * {
        margin: 0;
      }
    }
  }

  #about-me .content {
    display: flex;
  }

  #profile-photo {
    transform: rotate(-3deg);
    transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);

    &:hover {
      transform: rotate(0deg);
    }
  }

  #projects .content > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: unset;

    > * {
      max-width: 568px;
      width: 100%;
    }
  }

  #contact-me {
    .content {
      flex-direction: column;
      align-items: center;

      form {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        max-width: 672px;

        > div {
          width: unset;
          max-width: unset;
          margin: 0 0 1.5rem 0;
        }

        input {
          width: 320px;
        }

        .submit-btn {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          input {
            width: unset;
          }
        }

        textarea {
          width: 672px;
        }
      }
    }
  }
}

/*
h1 {
  font-size: 5.653rem;
}

h2 {
  font-size: 3.998rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}
*/
